@charset "utf8";

* {
  padding: 0;
  margin: 0;
}

.btn_start {
  display: block;
  margin: 30px auto;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.canvas_error {
  width: 400px;
  height: 400px;
}

.score_board {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100px;
  height: 100px;
  margin-left: 10px;
  border: 1px solid black;
}
.score_board span:first-child {
  font-weight: bold;
}
.score_board span {
  margin: 0 auto;
  font-size: 25px;
}

.rank_board {
  width: 300px;
  height: 287px;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid black;
}
.rank_board_content li:first-child {
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  font-weight: bold;
}
.rank_board_content li {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-bottom: 1px solid black;
}
